<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow-sm">
    <h1 class="text-center mb-4">Perfil</h1>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>email</th>
          <th>id Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{perfil.nombre}}</td>
          <td>
            {{perfil.email}}
          </td>
          <td>
            {{perfil.idUsuario}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>